<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="../../assets/blueimp-gallery.min.css">
  </head>
  <body>
    
    <!--begin bg-carousel-->
    <div id="bg-fade-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="slide1"></div>
        </div>
        <div class="item">
          <div class="slide2"></div>
        </div>
        <div class="item">
          <div class="slide3"></div>
        </div>

        <div class="item">
          <div class="slide4"></div>
        </div>
      </div><!-- .carousel-inner -->
      <div class="container carousel-overlay text-center color-defbg">
        <h1>TRACEY MUNN</h1>
	<span class="fa fa-heart"></span>
        <p class="lead">"Grace glides on blistered feet"</p>
      </div>
    </div><!-- .carousel -->
    <!--end bg-carousel-->
    
    <!-- video gallery code -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row text-center">
        <div class="col-md-4">
          <h2>Career</h2>
          <p>Over 17 years of dance training in Ballet, Modern, Contemporary, Jazz, Tap, and Musical Theater</p>
          <p><a class="btn btn-default pink-btn" href="resume" role="button">
	      <span class="fa fa-folder-open"></span>  View resume &raquo;
	  </a></p>
        </div>
        <div class="col-md-4">
          <h2>Media</h2>
          <p>Check out my pictures and videos!</p>
          <p>
	    <a class="btn btn-default pink-btn" href="media/pictures" role="button">
	      <span class="fa fa-camera"></span>  Images &raquo;
	    </a>
	  </p>
          <p>
	    <a id="vids" class="btn btn-default pink-btn" role="button">
	      <span class="fa fa-youtube-play"></span>  Videos &raquo;
	    </a>
	  </p>
       </div>
        <div class="col-md-4">
          <h2>Contact</h2>
	  <p>For more info or to schedule work</p>
	  <!-- TODO: change this email to something specific for this site? -->
          <p><a class="btn btn-default pink-btn" href="mailto:t.h.munn@gmail.com" role="button">
	      <span class="fa fa-envelope"></span>  Email &raquo;
	  </a></p>
          <p><a class="btn btn-default pink-btn" href="http://www.linkedin.com/pub/tracey-munn/22/694/655" role="button">
	      <span class="fa fa-linkedin-square"></span>  LinkedIn &raquo;
	  </a></p>
          <p><a class="btn btn-default pink-btn" href="http://www.modelmayhem.com/munn" role="button">
	      <span class="fa fa-maxcdn"></span>  Model Mayhem &raquo;
	  </a></p>
        </div>
      </div>
    </div> <!-- /container -->

    <script src="../../assets/blueimp-gallery.js"></script>
    <script src="../../assets/videos_list.js"></script>
    

  </body>
</html>
