<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    
    <!--begin bg-carousel-->
    <div id="bg-fade-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="slide1"></div>
        </div>
        <div class="item">
          <div class="slide2"></div>
        </div>
        <div class="item">
          <div class="slide3"></div>
        </div>

        <div class="item">
          <div class="slide4"></div>
        </div>
      </div><!-- .carousel-inner -->
      <div class="container carousel-overlay text-center color-defbg">
	<!-- TODO: this refreshes when the background pic refreshes.... it should stay visible at all times -->
        <h1>TRACEY MUNN</h1>
	<span class="fa fa-heart"></span>
        <p class="lead">Live, Laugh, Dance</p>
      </div>
    </div><!-- .carousel -->
    <!--end bg-carousel-->
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Work</h2>
          <p>Coming soon...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Media</h2>
          <p>Coming soon...</p>
          <p>
	    <a class="btn btn-lh btn-success fp-buttons" href="#" role="button">
	      <span class="fa fa-check"></span>View details &raquo;
	    </a>
	  </p>
       </div>
        <div class="col-md-4">
          <h2>Contact</h2>
          <p>Coming soon...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
