<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>Summary</h1>
      <p>Model</p>
      <p>Entertainer</p>
      <p>Over 17 years of dance training in Ballet, Modern, Contemporary, Jazz, Tap, and Musical Theater</p>
      <br>

    </div>
  </body>
</html>
