<html>

  <head>
    <!-- TODO: there's gotta be a better way to link to this... -->
    <link rel="stylesheet" href="../../assets/blueimp-gallery.min.css">
  </head>
  
  <body>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    <div class="text-center container">
      <a id="links" class="btn btn-default" role="button">View videos &raquo;</a>
    </div>
    
    <!-- TODO: there's gotta be a better way to link to this... -->
    <script src="../../assets/blueimp-gallery.min.js"></script>
    <script src="../../assets/videos_list.js"></script>

      
  </body>
  
</html>
